h1  {
    text-align: center;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: teal;
}
body    {
    background-color: skyblue;
    background-image: url(https://media.mnn.com/assets/images/2014/04/palm-tree-intro.jpg.653x0_q80_crop-smart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text   {
    color: snow;
}
h3  {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.content    {
    background-color: rgb(82, 126, 143);
}
.links  {
    float: right;
    background-color: snow;
    width: 30%;
}
.link-text  {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(82, 126, 143);
}
.about  {
    font-family: 'Courier New', Courier, monospace;
    color: snow;
}
img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}